<div class="container">
  <h2>Menú del Restaurante</h2>

  <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="menus.length === 0 && !errorMessage">
      <p>No hay menús disponibles.</p>
  </div>

  <div class="menus-grid" *ngIf="menus.length > 0">
      <div *ngFor="let menu of menus" class="menu-item">
          <h3>nombe: {{ menu.nombre }}</h3>
          <p>{{menu.nombre}}</p>
          <p>{{ menu.descripcion }}</p>
          <p>Precio: ${{ menu.precio }}</p>
      </div>
  </div>
</div>
