/* Estilo general de la página */
.container {
  background: linear-gradient(45deg, #ff7e5f, #feb47b);
  padding: 40px;
  font-family: 'Roboto', sans-serif;
  color: white;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 1300px;
  margin: 30px auto;
}

/* Estilo del título */
h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Estilo de los botones */
button {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

/* Estilo de la lista de restaurantes */
.restaurantes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* Estilo de cada restaurante */
.lista {
  background: rgba(0, 0, 0, 0.6);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.lista:hover {
  transform: translateY(-15px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/* Estilo de la imagen del restaurante */
.lista p:first-child {
  color: #fffbf7;
  font-size: 18px;
  margin: 10px 0;
}

.lista h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  margin: 20px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Estilo de las descripciones */
.lista p {
  color: #d1d1d1;
  font-size: 16px;
  margin: 8px 0;
}

.lista .accesibilidad, .lista .estacionamiento {
  font-weight: bold;
  font-size: 18px;
}

/* Estilo del mensaje de carga */
.spinner, .error-message {
  text-align: center;
  margin-top: 40px;
}

.spinner p, .error-message p {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

/* Estilo del mensaje de error */
.error-message {
  color: #ff4d4d;
  font-size: 22px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
